div.container
    div.row
        div.col-12.col-sm-6.d-flex.align-items-center.justify-content-center
            p.welcome
        div.col-12.col-sm-6.d-flex.align-items-center.justify-content-center
            img(src="images/avatar.svg" alt="avatar" class="image-appears")
